site_name: SITE 1101 Principles of Information Systems
site_url: https://ada-site.github.io/SITE-1101/

theme:
  name: material
  features:
    - navigation.instant
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.footer
    - navigation.tabs
    - content.code.copy
    - content.code.annotate
    - search.highlight
    - search.suggest
    - content.footnote.tooltips

  palette:
    - scheme: default
      primary: blue grey
      accent: cyan
    - scheme: slate
      primary: blue grey
      accent: cyan
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode


markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - tables
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_javascript:
  - assets/app/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js
  # - javascripts/mathjax.js
  # - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css
  - assets/styles/extra.css

# extra_javascript:
#   - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - search
  - awesome-nav

extra:
  # analytics:
    # provider: google
    # property: G-xxxxxxxx
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ada-site/SITE-1101
    - icon: fontawesome/solid/building-columns
      link: https://ada.edu.az/en/


repo_url: https://github.com/ada-site/SITE-1101
repo_name: GitHub



