<style>
.site-nav .menu-icon,
.site-nav .menu-icon svg,
.site-nav .menu-icon svg path,
.site-nav label[for="nav-trigger"] .menu-icon,
.site-nav label[for="nav-trigger"] .menu-icon svg,
.site-nav label[for="nav-trigger"] .menu-icon svg path{
  fill:#111 !important;
  stroke:#111 !important;
  opacity:1 !important;
}
</style>

<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
      fontCache: 'global'
    }
  };
</script>
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
